/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-breadcrumb1 {
    $root: &;
    display: flex;
    justify-content: space-between;
    &__title {
        font-size: 3rem;
        color: $colorBlack;
    }
    &__url {
        margin: auto 0;
        a {
            font-size: 1.6rem;
            color: $colorBlack;
        }
    }
}