/*------------------------------------------------------------
layout
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
body {
    width: 100%;
    padding: 0 0 0;
    @include sp {
        padding: 60px 0 0;
    }
    background-color: $colorBg;
    &.is-fixed {
        position: fixed;
    }
}

/*
------------------------------------------------------------*/
.l-content {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    z-index: 2;
    @include sp {
        max-width: 100%;
    }
}

/*
------------------------------------------------------------*/
.l-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    z-index: 2;
    @media (min-width: 1400px){
        max-width: 1320px;
    }
    @include sp {
        max-width: 100%;
    }
}
