//baseWidth
//$baseWidth1:1000px;

// Breakpoint
$breakpoint1: 767px;

// Common Colors
//$color1: #0288d1;
// $color2: #000a1c;
// $color3: #edf8ff;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;

$colorBg: #f9f9f9;

$colorWhite: #fff;

$colorBlue1: #113366;
$colorBlue2: #dce3fa;
$colorBlue3: #e3efed;
$colorBlue4: #15407f;

$colorGrey: #ccc;
$colorGrey2: #656565;
$colorGrey3: #f1f1f1;
$colorGrey4: #f6f6f6;

$colorYellow1: #ffb607;

$colorRed1: #ed1d24;

$colorBlack: #292929;

$colorPink: #f0e9ea;
