/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1 {
    $root: &;
    border-bottom: 1px solid $colorGrey;
    max-width: 670px;
    margin: 0 auto 50px;
    width: 100%;
    text-align: center;
    &__txt {
        font-size: 3rem;
        line-height: 1.5;
        font-weight: 600;
        position: relative;
        top: 20px;
        background-color: $colorGrey4;
        display: inline-block;
        padding: 0 15px;
    }
    &--left {
        text-align: left;
    }
}

.c-title2 {
    font-size: 2.2rem;
    margin: 10px 0;
}

.c-title3 {
    font-size: 1.6rem;
    color: $colorGrey2;
    &--colorGrey {
        color: $colorGrey;
        font-weight: 500;
        margin-bottom: 12px;
    }
}

.c-title4 {
    font-size: 2.5rem;
    padding-bottom: 15px;
    border-bottom: 1px solid $colorGrey;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        border: 1px solid $colorBlue1;
        width: 100px;
        bottom: 0;
        left: 0;
    }
}

.c-title5 {
    font-size: 2.5rem;
    font-weight: 600;
    color: $colorBlack;
}

.c-title6 {
    font-size: 2rem;
    font-weight: 600;
    color: $colorBlack;
}