/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-text1 {
    font-size: 1.6rem;
    margin-bottom: 30px;
    color: $colorGrey2;
    line-height: 1.8;
    @include max-w(991px) {
        font-size: 1.5rem;
    }
}
.c-text2 {
    &__link, &__important {
        font-size: 1.5rem;
        color: $colorGrey2;
    }
    &__link {
        font-weight: 600;
        opacity: 1;
        &:hover {
            color: $colorRed1;
        }
    }
}