/*------------------------------------------------------------
other
------------------------------------------------------------*/
.c-rate1 {
    margin-bottom: 12px;
    font-size: 1.6rem;
    li {
        display: inline;
        color: $colorYellow1;
    }
}

.c-price1 {
    font-size: 1.6rem;
    font-weight: 600;
    transition: 0.5s;
    margin-bottom: 15px;
    &--colorRed {
        color: $colorRed1;
        display: inline;
    }
    &--lineThrough {
        text-decoration: line-through;
        display: inline;
        color: $colorGrey2;
        margin-left: 12px;
    }
}

.c-price2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: $colorRed1;
    font-weight: 600;
    &--discount {
        font-size: 1.6rem;
        line-height: 1.5;
        display: inline-block;
        background-color: $colorRed1;
        color: $colorWhite;
        padding: 5px 15px;
        border-radius: 5px;
        margin: 15px 0 20px;
        transition: 0.5s;
    }
}

.c-tag1 {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 15px 10px;
    background-color: $colorBlue1;
    border-radius: 100px;
    color: $colorWhite;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    transition: 0.5s;
}

.c-tag2 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px 15px;
    background-color: $colorRed1;
    border-radius: 50%;
    color: $colorWhite;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    transition: 0.5s;
}

.c-group {
    label {
        display: inline-block;
        margin-bottom: 0;
    }
}

.c-input {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 18px 15px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $colorGrey3;
    background-color: $colorWhite;
    color: $colorBlack;
    &:focus {
        border: 1px solid $colorBlue1;
    }
}

.c-formCheck {
    font-size: 1.5rem;
    color: $colorGrey2;
    label,
    &__input {
        cursor: pointer;
    }
}

.c-lostPassword {
    font-size: 1.5rem;
    a {
        color: $colorGrey2;
        border-bottom: 1px solid $colorGrey3;
        opacity: 1;
        &:hover {
            border-bottom-color: $colorRed1;
        }
    }
}

// login form
.c-authen {
    $root: &;
    max-width: 650px;
    background-color: transparent;
    padding: 40px 45px;
    margin: 0 auto;
    border-radius: 5px;
    @include sp() {
        padding: 20px 15px;
    }
    &__btn {
        width: 100%;
    }
    &__form {
        margin: 30px 0 15px;
    }
    &__group {
        margin-bottom: 25px;
    }
    &__option {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    &__text {
        text-align: center;
    }
}

.c-filter {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: $colorGrey2;
    &__current {
        font-weight: 600;
        cursor: pointer;
    }

    &__sort {
        i {
            margin-left: 40px;
        }
        position: relative;
        width: 250px;
        text-align: right;
    }
    &__sortList {
        background-color: $colorWhite;
        box-shadow: 0 10px 30px rgb(0 0 0 / 20%);
        padding: 10px 0;
        margin-top: 10px;
        display: none;
        width: 250px;
        text-align: left;
        position: absolute;
    }
    &__sortItem {
        color: $colorGrey2;
        line-height: 2.5;
        padding: 0 25px 0 15px;
        cursor: pointer;
        &:hover {
            background-color: $colorBlue1;
            color: $colorWhite;
        }
    }
}

.c-paginate {
    &__link {
        width: 35px;
        height: 35px;
        margin: 0 3px;
        display: inline-block;
        background-color: $colorWhite;
        line-height: 35px;
        color: $colorBlack;
        box-shadow: 0 2px 10px 0 $colorGrey;
        font-size: 14px;
        font-weight: bold;
        border-radius: 50px;
        text-align: center;
        opacity: 1;
        &:hover {
            background-color: $colorBlue1;
            color: $colorWhite;
            opacity: 1;
        }
    }
    &__current {
        background-color: $colorBlue1;
        color: $colorWhite;
    }
    svg {
        display: none;
    }
    nav {
        font-size: 1.5rem;
        &>div:first-child {
            display: none;
        }
        &>div:last-child {
            margin: 30px 0;
            div {
                margin: 15px 0;
            }
            div>span>span {
                width: 35px;
                height: 35px;
                margin: 0 3px;
                display: inline-block;
                background-color: $colorWhite;
                line-height: 35px;
                color: $colorBlack;
                box-shadow: 0 2px 10px 0 $colorGrey;
                font-size: 14px;
                font-weight: bold;
                border-radius: 50px;
                text-align: center;
                opacity: 1;
                background-color: $colorBlue1;
                color: $colorWhite;
            }
            div>span>span[aria-label="Next &raquo;"], div>span>span[aria-label="&laquo; Previous"]{
                display: none;
            }
            div>span>a {
                width: 35px;
                height: 35px;
                margin: 0 3px;
                display: inline-block;
                background-color: $colorWhite;
                line-height: 35px;
                color: $colorBlack;
                box-shadow: 0 2px 10px 0 $colorGrey;
                font-size: 14px;
                font-weight: bold;
                border-radius: 50px;
                text-align: center;
                opacity: 1;
                &:hover {
                    background-color: $colorBlue1;
                    color: $colorWhite;
                    opacity: 1;
                }
            }
            div>span>a[rel="next"], div>span>a[rel="prev"] {
                display: none;
            }
        }
    }
}

.c-plusMinus {
    &__quantity {
        margin: 20px 0;
    }
    &__counter {
        display: flex;
        max-width: 130px;
        input {
            height: 25px;
            color: $colorGrey2;
            outline: 0;
            display: block;
            border: 1px solid $colorGrey;
            background-color: $colorBg;
            text-align: center;
            width: 100%;
            font-size: 18px;
            font-weight: 600;
            min-width: 20px;
            &::-webkit-inner-spin-button {
                opacity: 1;
              }
        }
        i {
            font-size: 2.5rem;
            color: $colorGrey;
        }
    }
    &__plus,
    &__minus {
        cursor: pointer;
    }
}

.c-block1 {
    $root: &;
    display: flex;
    margin-left: -24px;
    @include sp {
        flex-wrap: wrap;
        margin: 0;
    }
    &__left,
    &__right {
        width: 50%;
        padding-left: 24px;
        @include sp {
            width: 100%;
            padding: 0;
        }
    }
    &__title {
        margin-bottom: 15px;
    }
    &__price,
    &__price2 {
        font-size: 1.8rem;
    }
    &__price1 {
        margin-left: 0;
        font-size: 1.8rem;
    }
    &__txt {
        margin-bottom: 0;
    }
    &__info {
        margin-top: 12px;
    }
    &__color1,
    &__color2,
    &__color3,
    &__color4,
    &__color5 {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 6px;
    }
    &__color1 {
        background-color: $colorBlue1;
    }
    &__color2 {
        background-color: $colorBlue2;
    }
    &__color3 {
        background-color: $colorBlue3;
    }
    &__color4 {
        background-color: $colorBlue4;
    }
    &__color5 {
        background-color: $colorGrey2;
    }
    &__quantity {
        display: flex;
        margin-top: 20px;
        span {
            margin-right: 10px;
        }
    }
    &__share {
        margin-top: 25px;
    }
    &__social {
        li {
            display: inline;
        }
        a {
            display: inline-block;
            width: 32px;
            height: 32px;
            line-height: 2;
            border-radius: 50%;
            background-color: #113366;
            color: #ffffff;
            border: 1px solid #113366;
            text-align: center;
            font-size: 16px;
            margin-left: 2px;
            &:hover {
                background-color: $colorWhite;
                color: $colorBlue1;
            }
        }
    }
    &__left {
        display: flex;
        // margin-left: -5px;
        @include sp {
            margin-bottom: 25px;
        }
        #{$root}__imgList {
            width: 50px;
            float: left;
            cursor: pointer;
            position: relative;
            z-index: 1;
        }
    }
    &__content {
        width: 100%;
        .slick-track {
            width: 100%;
        }
    }
}

.c-block2 {
    &__tabList {
        border-bottom: 1px solid $colorGrey;
        margin-bottom: 30px;
    }
    &__tabItem {
        display: inline-block;
        margin-right: 30px;
        padding-bottom: 8px;
    }
    &__link {
        border: none;
        border-bottom: 3px solid transparent;
        padding: 0;
        padding-bottom: 8px;
        font-size: 1.8rem;
        font-weight: 600;
        color: $colorBlack;
        transition: 0;
        cursor: pointer;
        &:hover {
            border-bottom: 3px solid $colorBlue1;
            opacity: 1;
        }
    }
    &__active {
        border-bottom: 3px solid $colorBlue1;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__description {
        ul {
            list-style-type: disc;
            padding-left: 15px;
        }
    }
    &__rate {
        display: flex;
        justify-content: space-between;
        color: $colorBlack;
        font-size: 1.6rem;
        font-weight: 600;
        margin-top: 14px;
    }
    &__rateLeft {
        width: 15%;
    }
    &__rateMiddle {
        width: 75%;
    }
    &__rateRight {
        width: 15%;
        text-align: right;
    }
    &__rateContainer {
        height: 100%;
        width: 100%;
        background-color: $colorGrey3;
        border-radius: 5px;
    }
    &__rateBar {
        height: 100%;
        background-color: $colorBlue1;
        border-radius: 5px;
        &--5star {
            width: 80%;
        }
        &--4star {
            width: 12%;
        }
        &--3star {
            width: 5%;
        }
        &--2star {
            width: 2%;
        }
        &--1star {
            width: 1%;
        }
    }

    &__customer {
        margin-top: 45px;
    }
    &__cusTitle {
        display: flex;
        justify-content: space-between;
        ul {
            margin: auto 0;
        }
    }
    &__cusComment {
        margin-top: 35px;
    }
    &__cusReview {
        margin-top: 35px;
        padding-top: 45px;
        border-top: 1px solid $colorGrey3;
    }
    &__title2 {
        font-size: 1.8rem;
    }

    &__formName {
        display: flex;
        margin-left: -30px;
        @include sp {
            flex-wrap: wrap;
            margin-left: 0;
        }
        .c-group {
            width: 50%;
            padding-left: 30px;
            @include sp {
                width: 100%;
                padding: 0;
            }
        }
    }
    .c-group {
        margin-bottom: 30px;
    }
    .c-input {
        background-color: $colorGrey7;
        font-weight: 600;
        &:focus {
            background-color: $colorWhite;
        }
    }

    &__infoShip {
        span {
            font-size: 1.8rem;
            font-weight: 600;
            color: $colorBlack;
        }
    }
}

.c-block3 {
    $root: &;
    display: flex;
    margin-left: -24px;
    @include max-w(1024px) {
        flex-wrap: wrap;
        margin-left: 0;
    }
    &__left {
        width: 70%;
        padding-left: 24px;
        @include max-w(1024px) {
            width: 100%;
            padding-left: 0;
        }
    }
    &__right {
        width: 30%;
        padding-left: 24px;
        @include max-w(1024px) {
            width: 100%;
            padding-left: 0;
        }
    }
    &__headList {
        display: flex;
        justify-content: space-between;
        background-color: $colorWhite;
        font-weight: 600;
        color: $colorBlack;
        border-bottom: 2px solid $colorBlue1;
    }
    &__contentList {
        border-bottom: 1px solid $colorGrey;
        display: flex;
        justify-content: space-between;
    }
    &__product,
    &__name,
    &__unitPrice,
    &__quantity,
    &__total {
        padding: 35px 20px;
        color: $colorBlack;
        font-size: 1.6rem;
        font-weight: 600;
        color: $colorGrey2;
        text-align: center;
        margin: auto 0;
    }
    &__product {
        width: 30%;
        display: flex;
        .c-remove {
            color: $colorGrey;
            font-size: 2.5rem;
            text-align: center;
            line-height: 3.2;
            margin: auto 10px auto 0;
            cursor: pointer;
            &:hover {
                color: $colorRed1;
            }
            @include sp {
                font-size: 2rem;
                width: 40%;
            }
        }
    }
    &__name {
        width: 30%;
        @include sp {
            display: none;
        }
    }
    &__unitPrice {
        width: 30%;
        @include sp {
            display: none;
        }
    }
    &__quantity {
        width: 25%;
        @include sp {
            width: 20%;
            margin-right: 5px;
            i {
                font-size: 2rem;
            }
            input {
                height: 20px;
            }
        }
    }
    &__total {
        width: 35%;
        @include sp {
            width: 40%;
        }
    }
    &__img {
        width: 80px;
        @include max-w(400px) {
            width: 60px;
        }
    }

    &__btn {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        @include max-w(576px) {
            flex-wrap: wrap;
        }
    }
    &__input {
        width: 70%;
        height: 54px;
        border-radius: 0;
        @include max-w(423px) {
            width: 60%;
        }
    }
    &__apply {
        width: 30%;
        @include max-w(423px) {
            width: 40%;
        }
    }
    &__coupon {
        width: 70%;
        display: flex;
        @include max-w(576px) {
            width: 100%;
        }
    }
    &__update {
        width: 30%;
        text-align: right;
        @include max-w(576px) {
            width: 100%;
            margin-top: 30px;
        }
    }
}

.c-cartTotal {
    padding: 30px;
    background-color: $colorWhite;
    color: $colorBlack;
    @include max-w(1024px) {
        margin-top: 30px;
    }
    &__title {
        font-size: 2rem;
        margin-bottom: 15px;
    }
    &__item {
        font-size: 1.6rem;
        font-weight: 600;
        padding: 10px 0 15px 0;
        color: $colorGrey2;
        border-bottom: 1px solid $colorGrey;
        span {
            float: right;
        }
        &--size {
            font-size: 1.8rem;
            color: $colorBlack !important;
            font-weight: 600;
        }
    }
    &__btnCheckout {
        margin-top: 25px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
}


.c-block4 {
    &__list {
        display: flex;
        border-bottom: 1px solid $colorGrey;
        @include max-w(567px) {
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    &__title {
        padding: 30px;
        background-color: $colorWhite;
    }
    &__product,
    &__name,
    &__unitPrice,
    &__stock,
    &__btn {
        padding: 35px 20px;
        color: $colorBlack;
        font-size: 1.6rem;
        font-weight: 600;
        text-align: center;
        color: $colorGrey2;
        margin: auto 0;
        @include sp {
            padding: 35px 0;
        }
    }
    &__product,
    &__name,
    &__unitPrice,
    &__stock {
        @include max-w(567px) {
            padding-bottom: 12px;
        }
    }
    &__product {
        width: 15%;
        display: flex;
        .c-remove {
            color: $colorGrey;
            font-size: 2.5rem;
            text-align: center;
            line-height: 3.2;
            cursor: pointer;
            margin: auto 10px auto 0;
            &:hover {
                color: $colorRed1;
            }
            @include sp {
                font-size: 2rem;
                width: 40%;
            }
        }
        @include sp {
            width: 5%;
        }
    }
    &__name {
        width: 30%;
        @include sp {
            width: 30%;
        }
        
    }
    &__unitPrice {
        width: 25%;
        
    }
    &__btn {
        width: 30%;
        @include sp {
            width: 40%;
            .c-btn1 {
                padding: 10px;
            }
        }
        @include max-w(567px){
            padding-top: 0;
            width: 60%;
        }
    }
    &__img {
        width: 80px;
        @include sp {
            display: none;
        }
    }

}

.c-block5 {
    &__area {
        display: flex;
        margin-left: -24px;
        @include max-w(992px) {
            flex-wrap: wrap;
            margin-left: 0;
        }
    }
    &__left {
        width: 66.67%;
    }
    &__right {
        width: 33.33%;
    }
    &__left, &__right {
        padding-left: 24px;
        @include max-w(992px) {
            padding-left: 0;
            width: 100%;
        }
    }
    &__title {
        font-size: 2rem;
        color: $colorBlack;
        margin-bottom: 30px;
        font-weight: bold;
    }
    &__name {
        display: flex;
        margin-left: -24px;
        .c-group {
            width: 50%;
            padding-left: 24px;
            @include sp {
                width: 100%;
                padding-left: 0;
            }
        }
        @include sp {
            flex-wrap: wrap;
            margin-left: 0;
        }
    }
    .c-group {
        margin-bottom: 25px;
        label {
            font-weight: bold;
            margin-bottom: 8px;
        }
        .c-input {
            font-weight: 600;
            &:focus {
                background-color: $colorBg;
            }
        }
    }

    &__payment {
        margin-top: 30px;
        padding: 30px;
        background-color: $colorWhite;
        height: 369px;
    }
}


