/*------------------------------------------------------------
other
------------------------------------------------------------*/
.c-rate1 {
    margin-bottom: 12px;
    font-size: 1.6rem;
    li {
        display: inline;
        color: $colorYellow1;
    }
}

.c-price1 {
    font-size: 1.6rem;
    font-weight: 600;
    transition: 0.5s;
    margin-bottom: 15px;
    &--colorRed {
        color: $colorRed1;
        display: inline;
    }
    &--lineThrough {
        text-decoration: line-through;
        display: inline;
        color: $colorGrey2;
        margin-left: 12px;
    }
}

.c-price2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: $colorRed1;
    font-weight: 600;
    &--discount {
        font-size: 1.6rem;
        line-height: 1.5;
        display: inline-block;
        background-color: $colorRed1;
        color: $colorWhite;
        padding: 5px 15px;
        border-radius: 5px;
        margin: 15px 0 20px;
        transition: 0.5s;
    }
}

.c-tag1 {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 15px 10px;
    background-color: $colorBlue1;
    border-radius: 100px;
    color: $colorWhite;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    transition: 0.5s;
}

.c-tag2 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px 15px;
    background-color: $colorRed1;
    border-radius: 50%;
    color: $colorWhite;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    transition: 0.5s;
}

.c-group {
    label {
        display: inline-block;
        margin-bottom: 0;
    }
}

.c-input {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 18px 15px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $colorGrey3;
    background-color: $colorWhite;
    color: $colorBlack;
    &:focus {
        border: 1px solid $colorBlue1;
    }
}

.c-formCheck {
    font-size: 1.5rem;
    color: $colorGrey2;
    label, &__input {
        cursor: pointer;
    }
}

.c-lostPassword {
    font-size: 1.5rem;
    a {
        color: $colorGrey2;
        border-bottom: 1px solid $colorGrey3;
        opacity: 1;
        &:hover {
            border-bottom-color: $colorRed1;
        }
    }
}

// login form
.c-authen {
    $root: &;
    max-width: 650px;
    background-color: transparent;
    padding: 40px 45px;
    margin: 0 auto;
    border-radius: 5px;
    &__btn {
        width: 100%;
    }
    &__form {
        margin: 30px 0 15px;
    }
    &__group {
        margin-bottom: 25px;
    }
    &__option {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    &__text {
        text-align: center;
    }
}

.c-filter {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: $colorGrey2;
    &__current {
        font-weight: 600;
        cursor: pointer;
    }
    
    &__sort {
        i {
            margin-left: 40px;
        }
        position: relative;
        width: 250px;
        text-align: right;
    }
    &__sortList {
        background-color: $colorWhite;
        box-shadow: 0 10px 30px rgb(0 0 0 / 20%);
        padding: 10px 0;
        margin-top: 10px;
        display: none;
        width: 250px;
        text-align: left;
        position: absolute;
    }
    &__sortItem {
        color: $colorGrey2;
        line-height: 2.5;
        padding: 0 25px 0 15px;
        cursor: pointer;
        &:hover {
            background-color: $colorBlue1;
            color: $colorWhite;
        }
    }
}

.c-paginate {
    &__link {
        width: 35px;
        height: 35px;
        margin: 0 3px;
        display: inline-block;
        background-color: $colorWhite;
        line-height: 35px;
        color: $colorBlack;
        box-shadow: 0 2px 10px 0 $colorGrey;
        font-size: 14px;
        font-weight: bold;
        border-radius: 50px;
        text-align: center;
        opacity: 1;
        &:hover {
            background-color: $colorBlue1;
            color: $colorWhite;
            opacity: 1;
        }
    }
    &__current {
        background-color: $colorBlue1;
        color: $colorWhite;
    }
}